%h3 Asteroid belt mine corp.
.mine-duration-select
  = form_for current_user, url: {action: "create"} do |f|
    - current_user.errors.full_messages.each do |msg|
      %p= msg
    = label(:duration, :hours)
    = select_tag("duration[hours]", options_for_select( AsteroidBeltMineHelper.duration_and_gold ) )
    = f.submit "Mine"
