// Place all the styles related to the AsteroidBeltMine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mine-duration-select select {
  height: 25px;
  width: 160px;
  border: none;
}

.mine-duration-select input {
  height: 25px;
  width: 50px;
  border: none;
}
